<% content_for :title do %>Auto Start Run<% end %>
<section class="well col-md-4 col-md-offset-0">
<h2><%= @race.name %> - Start Run</h2>
<p id="notice"><%= notice %></p>
<% if @race.auto_start == true %>
	<% turl = auto_start_run_race_path(@race) %>
<% else %>
	<% turl = test_auto_start_race_path(@race) %>
<% end %>
<%= form_for @run, url: turl, :html => {id: "start_run"} do |f| %>
  <% if @race.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@race.errors.count, "error") %> prohibited this race from being saved:</h2>

      <ul>
      <% @race.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@race.errors.count, "error") %> prohibited this run from being saved:</h2>

      <ul>
      <% @run.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :bib %><br>
    <%= f.text_field :bib %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.text_field :start %>
  </div>

  <div class="actions">
    <%= f.submit "Start Run" %>
  </div>
<% end %>
</section>
