<% content_for :title do %>Starts<% end %>
<section class="col-md-12 col-md-offset-0">
<h1>Listing Starts</h1>
<p id="notice"><%= notice %></p>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Heat</th>
			<th>Name</th>
      <th>Bib</th>
      <th>Boat Class</th>
      <th>Start</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @race.runs.each do |run| %>
			<% unless run.start.blank? %>
      <tr>
				<td><%= run.heat %></td>
				<td><%= run.racer.name %></td>
				<td><%= run.bib %></td>
				<td><%= run.boat_class %></td>
				<td><%= run.start.strftime('%2H:%2M:%2S.%2L') %></td>
				<td><%= run.status %></td>
			</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
</section>	
<%= link_to 'Back', races_path %>
